body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

header {
  background: #0b3c5d;
  color: white;
  padding: 20px 0;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  background: linear-gradient(to right, #0b3c5d, #1d70a2);
  color: white;
  padding: 70px 20px;
  text-align: center;
}

section {
  padding: 50px 0;
}

.solution-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.solution-card {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 6px;
  text-decoration: none;
  color: #333;
}
#wibasTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 14px;
}

#wibasTable th,
#wibasTable td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

#wibasTable th {
  background-color: #0b3c5d;
  color: white;
}

#wibasTable tr:nth-child(even) {
  background-color: #f2f2f2;
}


footer {
  background: #0b3c5d;
  color: white;
  text-align: center;
  padding: 20px;
}

